@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

@font-face {
  font-family: 'SFCompactDisplay-Regular';
  src: url('./SFCompactDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.scene {
  width: 621px;
  margin: 2rem auto;
}

.canvas {
  width: 621px;
  height: 338px;
  background-color: #CED2D8;
  display: flex;
  margin-bottom: 2rem;
}

.board {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
  justify-content: center;
}

.key {
  width: 100%;
  display: flex;
}

.key .inner {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  flex: 1;
}
